.main-section {
  position: relative;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 35px;
  height: 35px;
  appearance: none;
  border: 4px solid red;
  outline: none !important;
  border-radius: 5px;
  cursor: pointer;
}

/* building1..............*/

.zone-1-0-ba-1 {
  position: absolute;
  z-index: 9999;
  top: 18%;
  left: 28%;
}
.zone-1-0-ba-2 {
  position: absolute;
  z-index: 9999;
  top: 18%;
  right: 34%;
}
.zone-1-0-ba-3 {
  position: absolute;
  z-index: 9999;
  top: 42%;
  left: 22%;
}
.zone-1-0-ba-4 {
  position: absolute;
  z-index: 9999;
  top: 42%;
  left: 46%;
}
.zone-1-0-ba-5 {
  position: absolute;
  z-index: 9999;
  top: 38%;
  right: 24%;
}
.zone-1-0-ba-6 {
  position: absolute;
  z-index: 9999;
  bottom: 44%;
  right: 30%;
}
.zone-1-0-ba-7 {
  position: absolute;
  z-index: 9999;
  bottom: 31%;
  left: 30%;
}
/* building1 first floor */

.zone-1-1-ba-1 {
  position: absolute;
  z-index: 9999;
  top: 30%;
  left: 33%;
}
.zone-1-1-ba-2 {
  position: absolute;
  z-index: 9999;
  top: 29%;
  right: 31%;
}
.zone-1-1-ba-3 {
  position: absolute;
  z-index: 9999;
  top: 39%;
  left: 26%;
}
.zone-1-1-ba-4 {
  position: absolute;
  z-index: 9999;
  top: 48%;
  right: 36%;
}
.zone-1-1-ba-5 {
  position: absolute;
  z-index: 9999;
  bottom: 43%;
  left: 29%;
}
.zone-1-1-ba-6 {
  position: absolute;
  z-index: 9999;
  bottom: 20%;
  left: 28%;
}
/* building2..............*/

.zone-2-0-ba-1 {
  position: absolute;
  z-index: 9999;
  top: 34%;
  left: 24%;
}
.zone-2-0-ba-2 {
  position: absolute;
  z-index: 9999;
  top: 44%;
  right: 42%;
}
.zone-2-0-ba-3 {
  position: absolute;
  z-index: 9999;
  top: 34%;
  right: 34%;
}
.zone-2-0-ba-4 {
  position: absolute;
  z-index: 9999;
  top: 34%;
  right: 16%;
}
.zone-2-0-ba-5 {
  position: absolute;
  z-index: 9999;
  top: 46%;
  left: 16%;
}
.zone-2-0-ba-6 {
  position: absolute;
  z-index: 9999;
  top: 42%;
  right: 16%;
}
.zone-2-0-ba-7{
  position: absolute;
  z-index: 9999;
  bottom: 42%;
  left: 24%;
}
.zone-2-0-ba-8 {
  position: absolute;
  z-index: 9999;
  bottom: 44%;
  left: 40%;
}
.zone-2-0-ba-9 {
  position: absolute;
  z-index: 9999;
  bottom: 44%;
  right: 26%;
}
.zone-2-0-ba-10 {
  position: absolute;
  z-index: 9999;
  bottom: 42%;
  right: 18%;
}
/* building2 first floor */

.zone-2-1-ba-1 {
  position: absolute;
  z-index: 9999;
  top: 46%;
  left: 22%;
}
.zone-2-1-ba-2 {
  position: absolute;
  z-index: 9999;
  top: 38%;
  left: 34%;
}
.zone-2-1-ba-3 {
  position: absolute;
  z-index: 9999;
  top: 38%;
  left: 46%;
}
.zone-2-1-ba-4 {
  position: absolute;
  z-index: 9999;
  top: 34%;
  right: 24%;
}
.zone-2-1-ba-5 {
  position: absolute;
  z-index: 9999;
  top: 40%;
  left: 13%;
}
.zone-2-1-ba-6 {
  position: absolute;
  z-index: 9999;
  top: 45%;
  left: 43%;
}
.zone-2-1-ba-7 {
  position: absolute;
  z-index: 9999;
  top: 46%;
  right: 44%;
}
.zone-2-1-ba-8 {
  position: absolute;
  z-index: 9999;
  bottom: 44%;
  right: 42%;
}
.zone-2-1-ba-9 {
  position: absolute;
  z-index: 9999;
  bottom: 38%;
  left: 14%;
}